apiVersion: v1
kind: ConfigMap
metadata:
  name: cccms-prometheus-config
  namespace: cccms
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]
