{{- if .Values.monitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cccms.fullname" . }}-grafana-datasource
  labels:
    app: {{ include "cccms.fullname" . }}-grafana
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://{{ include "cccms.fullname" . }}-prometheus:{{ .Values.monitoring.prometheus.service.port }}
        isDefault: true
        editable: true
{{- end }}
